/*overflow*/
.box{
    border: 2px solid;
    max-height: 100px;
    overflow: scroll;
    margin: 2px;
}
.box2{
    border: 2px solid;
    min-height: fit-content;
}
/* position*/
.pos{/* this is about pos/order of diff elements in page. default : static */
    border: 2px solid;
}

.transforms{
    background-color: rgb(255, 196, 253);
    border: 1px solid;
    margin: 150px;
    width: 200px;
    height: 100px;
    overflow-y: scroll;
    /*transform: translate(100px);   /*only for div not span */
    /*transform: scale(2,3); /*(horizontal stretch, vertical stretch)*/
     transform: skew(-80deg);
}
